
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
}
body{
    background-color:white;
    width: 100%;
}
html{

}
.link ul{
    list-style-type: none;
    margin:0;
    padding:0;
    display:flex;
    width:40%;

}
.link li a {
    text-decoration:none;
    color: white;
    margin-right: 40px;
}
.container,
.header_sec{
    display: flex;
    margin: 0 130px;
}
.link{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: right;

}
.logo{
    width: 20%;
}
img{
    width: 150px;
}
header{
    background-image: linear-gradient(to bottom right , purple, rgba(41, 4, 248, 0.7)) , url("img/head.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    padding: 15px;
    height: 80vh;
}
 .header_sec{
    display: flex;
} 
.img-bts,
.cote-img{
    width:50%;
}
.img-bts img {
    width: 100%;

  }
  .cote-img {
    color: white;
    width: 25%;

  }
  .cote-img{
    padding: 50px 0 0 160px ;
  }
  .cote-img P {
margin-top:15px;
font-size: large;
  }
  .cote-img h1{
    font-size: 25px;
  }
   .sec-bottom:first-child {
    text-decoration: none; 
    display: block;
    margin-right: 20px;
    color: white;
    border-radius: 100px;
    padding:  10px 15px;
  }
  .sec-bottom{
    margin : 25px;
    display: flex;
  }
  .sec-bottom button{
    background-color: #F5167E;
} 

.sec-bottom{
    margin-top: 25px;
}
.sec-bottom button{
    padding: 10px 25px;
    border-radius: 30px;
}

#col-1{
    border: none;
    background-color:#f5167e;
    color: white;
}

#col-2{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.bout{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    margin-left: 90px;
}
/* partie de box */
.box {
    background: #242565;
    border-radius: 2.15rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
    width: 95%;
    max-width: 1050px;
    margin: auto;
    box-shadow: 2px 0 10px rgba(52, 58, 64, 0.2);
    margin-top: -50px;
    z-index: 99;
    position: relative;
    max-height: 200px;
  }
  
  .box .box-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    padding: 10px 15px;
  }
  
  .box .box-item  input{
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 40;
    outline: 0 0 0 ;
    background: transparent;
  }
  
  .box .box-item  h6{
    font-size: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 40;
  }
    
  .box .box-item  select{
    font-size: 20px;
    color: white;
    padding-left: 300px;
    margin-bottom: 25px;
    font-weight: 40;
    background: transparent;
  }
  .box .box-item .box-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .box .box-item:last-child {
    border: 0;
  }

  